APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_DATABASE_ID=
APPWRITE_USERS_COLLECTION_ID=
APPWRITE_ANEKDOT_COLLECTION_ID=
# capaian pembelajaran
APPWRITE_CP_COLLECTION_ID=
# hasil karya
APPWRITE_HK_COLLECTION_ID=
APPWRITE_PERTUMBUHAN_COLLECTION_ID=
APPWRITE_RUBRIK_COLLECTION_ID=

APPWRITE_HK_BUCKET_ID=
APPWRITE_ANEKDOT_BUCKET_ID=